#outputChars{
    font-size: 7px;
    font-family: monospace;
}
#theCanvas{
    visibility: hidden;
}
#outputChars{
    size: 100%;
    margin-top: 5%;
    align-items: center;
    display: flex;
    justify-content: center;
}
#button{
    size: 20%;
    color: brown;
    position:absolute;
    top:0;
    right:0;
}
#theVideo{
    opacity: 0;
}