#outputChars{
    font-size: 7px;
    font-family: monospace;
}
#theCanvas{
    visibility: hidden;
}
#outputChars{
    size: 100%;
    margin-top: 5%;
    align-items: center;
    display: flex;
    justify-content: center;
}
#theVideo{
    opacity: 0;
}